:root {
  --blanco: #fff;
  --negro: #000;
  --primary-color: #22b573;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.683rem;
  font-weight: 700;
}

/* Globales */

a {
  text-decoration: none;
  color: var(--negro);
}

.container {
  width: min(90%, 117.6rem);
  margin: 0 auto;
}

.btn-primary {
  color: var(--blanco);
  font-size: 2.722rem;
  font-weight: 700;
  padding: 1.8rem 2.7rem;
  background-color: var(--primary-color);
  border-radius: 1.15rem;
  width: fit-content;
}

.btn-secondary {
  color: var(--primary-color);
  font-size: 1.41rem;
  font-weight: 700;
  padding: 1.4rem 2rem;
  background-color: var(--blanco);
  border-radius: 1.15rem;
}

/* Utilidades */

.text-center {
  text-align: center !important;
}

.active {
  color: var(--primary-color) !important;
}

/* Header */

.menu-desktop {
  display: none;
}

.background-header {
  background-image: url(../images/pattern.svg), url(../images/bg.svg);
  background-size: 70rem, 70rem;
  background-repeat: no-repeat;
  height: 100vh;
}

.header-mobile {
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-mobile .logo-fares {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.header-mobile .logo-fares p {
  font-weight: 700;
  font-style: italic;
  font-size: 2.4rem;
  color: var(--blanco);
  margin: 0;
}

.btn-comenzar {
  display: none;
}

.header-desktop {
  display: none;
}

.rocket {
  /* filter: invert(44%) sepia(97%) saturate(387%) hue-rotate(102deg)
    brightness(91%) contrast(79%); */
  width: 4rem;
}

@media (min-width: 768px) {
  .header-mobile {
    display: none;
  }
  .rocket {
    width: 5rem;
  }
  .logo-fares p {
    font-size: 2.9rem !important;
    margin-right: 3rem !important;
  }
  .header-desktop {
    padding-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header-desktop .logo-fares {
    display: flex;
    gap: 0.3rem;
    align-items: center;
  }
  .header-desktop .logo-fares p {
    font-weight: 700;
    font-style: italic;
    font-size: 2.4rem;
    color: var(--blanco);
    margin: 0;
  }
  .logo-menu-items {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .menu-item {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--blanco);
  }
  .btn-comenzar {
    display: unset;
  }
}

/* Hero */

.hero {
  margin-top: 1rem;
}

.hero-info {
  display: none;
}

.hero h2 {
  color: var(--blanco);
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.hero .video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video video {
  width: 90%;
  border-radius: 2.5rem;
}

@media (min-width: 768px) {
  .background-header {
    background-size: 100vw, 100vw;
    background-position: left bottom, bottom;
    background-position-y: -25rem;
  }
  .hero {
    margin-top: 5rem;
  }
  .hero h2 {
    font-size: 3rem;
  }
  .destacar {
    color: var(--primary-color);
  }
  .hero-info {
    display: flex;
    flex-direction: column;
    color: var(--blanco);
  }
  .hero-info h1 {
    margin-bottom: 0;
  }
  .hero-info p {
    font-size: 2.583rem;
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
  }
  .hero-info a {
    color: var(--blanco);
  }
  .hero-grid {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
  }
  .video video {
    width: 100%;
  }
}
